<form id="delete-form" method="POST" action="<%= url %>?_method=DELETE">
  <button
    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800"
    type="submit"
    id="delete"
  >
    Delete
  </button>
</form>

<script defer src="/javascripts/swalDelete.js"></script>
