<div id="existingImages">
  <ul
    role="list"
    class="divide-y divide-gray-100 rounded-md border border-gray-200"
  >
    <% if (pool.coverImagePath && pool.coverImagePath.length > 0) { %> <%
    pool.coverImagePath.forEach(function(imagePath) { %>
    <li
      class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6"
    >
      <div class="flex w-0 flex-1 items-center">
        <div class="ml-2 flex min-w-0 flex-1 gap-2">
          <img
            class=""
            style="margin-top: 10px; margin-bottom: 10px"
            src="<%= imagePath %>"
          />
        </div>
      </div>
    </li>
    <% }); %> <% } else { %>
    <li
      class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6"
    >
      <div class="flex w-0 flex-1 items-center">
        <div class="ml-2 flex min-w-0 flex-1 gap-2">No images available</div>
      </div>
    </li>
    <% } %>
  </ul>
</div>
