<!DOCTYPE html>
<html class="bg-gray-50 scroll-smooth font-sans" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css"
    />
    <link
      href="https://unpkg.com/filepond@^4/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <link id="main-css" rel="stylesheet" href="/stylesheets/output.css" />
    <title>HHL</title>
  </head>

  <body>
    <div class="">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/errorMessage.ejs') %> <%- body %>
    </div>

    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

    <script>
      $(document).ready(function () {
        $("table").DataTable({
          order: [4, "asc"],
        });

        $("#status-filter").change(function () {
          var selectedStatus = $(this).val();

          $("table").DataTable().column(4).search(selectedStatus).draw();
        });
      });

      document.addEventListener("DOMContentLoaded", () => {
        FilePond.registerPlugin(
          FilePondPluginFileEncode,
          FilePondPluginImagePreview,
          FilePondPluginImageExifOrientation,
          FilePondPluginImageCrop,
          FilePondPluginImageResize,
          FilePondPluginImageTransform
        );
        FilePond.parse(document.body);
      });
    </script>
  </body>
</html>
