<div class=""></div>
<form id="pool-form" action="/pools" method="POST">
  <h2 class="mb text-xl font-bold dark:text-white text-center py-4">
    Add a new body of water
  </h2>
  <%- include('_form_fields') %>
  <div class="px-4 mx-auto max-w-2xl py-4">
    <a
      class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800"
      href="/pools"
      >Cancel</a
    >
    <button
      type="submit"
      class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Add pool
    </button>
  </div>
</form>

<script>
  document
    .getElementById("pool-form")
    .addEventListener("submit", function (event) {
      const nameInputValue = document.getElementById("lastName").value.trim();

      if (nameInputValue === "") {
        event.preventDefault();

        Swal.fire({
          title: "Warning",
          text: "Last name field is empty!",
          icon: "warning",
          confirmButtonText: "OK",
        });
      }
    });

  const removeCover = document.getElementById("coverCheckbox");
  removeCover.style.display = "none";
</script>
